

/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

@font-face{
    font-family: 'texgyreadventorregular';
    src: url('../fonts/texgyreadventor-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
     font-family: 'open_sansregular';
      src:url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
}

body
{
    font-family: 'open_sansregular';
    background: #ffffff;
    font-size: 100%;
}

/* start header */

.header_bg
{
    border-top: 8px groove #3b3b3b;
    background: #ffffff;
}

.header_bg1
{
    border-top: 8px groove #3b3b3b;
    background: url('../images/slider_bg.jpg') no-repeat  left;
    background-size: 100%;
}

.header
{
    padding: 2% 0;
}

.logo h1 a
{
    font-size: 1em;
    text-transform: uppercase;
    color: #3B3B3B;
    text-decoration: none;
    font-family: 'texgyreadventorregular';
}

/* search */

.h_search
{
    width: 30%;
    position: relative;
    margin-top: 2%;
}

.h_search form
{
    width: 100%;
}

.h_search form input[type="text"]
{
    font-family: 'open_sansregular';
    padding: 10px 16px;
    outline: none;
    color: #c6c6c6;
    font-size: 13px;
    border: 1px solid rgb(236, 236, 236);
    background: #FFFFFF;
    width: 73.333%;
    line-height: 22px;
    position: relative;
    -webkit-appearance: none;
}

.h_search form input[type="submit"]
{
    font-family: 'open_sansregular';
    background: #3B3B3B;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 26.333%;
    position: absolute;
    line-height: 1.5em;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-appearance: none;
}

.h_search form input[type="submit"]:hover
{
    background: #FF5454;
}

/* menu */

.h_menu
{
    padding: 0;
    background: #3B3B3B;
}

.navbar
{
    position: relative;
    min-height: 60px;
    margin-bottom: 0px;
    border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
    background: #3B3B3B;
    color: #ffffff;
    padding: 0;
}

.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover
{
    background: #FF5454;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a
{
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #01A2A6;
}

.nav > li
{
    border-right: 1px solid rgb(39, 37, 37);
}

.nav > li > a
{
    font-size: 13px;
    padding: 20px 30px;
    text-transform: uppercase;
}

/* start soc_icons */

.soc_icons
{
}

.soc_icons ul
{
    margin-bottom: 0;
}

.soc_icons ul li
{
    display: inline-block;
    border-left: 1px solid rgb(39, 37, 37);
    margin-left: -3px;
}

.soc_icons ul li a
{
    color: #ffffff;
    font-size: 24px;
    display: block;
    line-height: 60px;
    width: 60px;
    height: 60px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.soc_icons ul li a:hover
{
    background: #FF5454;
}

/* start slider */

.slider_bg
{
    background: url('../images/slider_bg.jpg') no-repeat;
    background-size: cover;
    background-color: #01A2A6;
}

.slider
{
    padding: 4%;
}

/* start main */

.main_bg
{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.main
{
    padding: 5% 0;
}

.images_1_of_4 img
{
    display: inline-block;
}

.images_1_of_4 h4
{
    margin: 30px 0 15px;
}

.images_1_of_4 h4 a
{
    display: inline-block;
    font-size: 1.3em;
    font-family: Bree Serif;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: black;
}

.images_1_of_4 h4 a:hover
{
    text-decoration: none;
    color: #ff5454;
}

.images_1_of_4  span
{
    width: 100px;
    height: 100px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.bg
{
    background: #01A2A6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    -o-border-radius: 75px;
}

.images_1_of_4  span i
{
    font-size: 5em;
    color: #e0e0e0;
    line-height: 2em;
    text-shadow: 1px 1px 0px #3b3b3b;
    -webkit-text-shadow: 1px 1px 0px #3b3b3b;
    -moz-text-shadow: 1px 1px 0px #3b3b3b;
    -o-text-shadow: 1px 1px 0px #3b3b3b;
    -ms-text-shadow: 1px 1px 0px #3b3b3b;
}

.para
{
    font-size: 16px;
    line-height: 1.8em;
}

.images_1_of_4 a
{
    position: relative;
    z-index: 1;
}

/* Button 1 */

.fa-btn
{
    font-size: 14px;
    background: none;
    cursor: pointer;
    padding: 12px 40px;
    display: inline-block;
    margin: 10px 0px;
    text-transform: uppercase;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

.fa-btn:after
{
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-1
{
    border: 2px solid #01A2A6;
    color: #3b3b3b;
}

/* Button 1e */

.btn-1e
{
    overflow: hidden;
}

.btn-1e:after
{
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #ff5454;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.btn-1e:hover,.btn-1e:active
{
    color: #ffffff;
    text-decoration: none;
}

.btn-1e:hover:after
{
    height: 260%;
    opacity: 1;
}

.btn-1e:active:after
{
    height: 400%;
    opacity: 1;
}

/* start main_btm */

.main_btm
{
    background: #FFFFFF;
    border-top: 1px solid rgb(233, 233, 233);
}

.content_right h4
{
    color: #01A2A6;
    font-size: 3.5em;
    font-family: Bree Serif;
    line-height: 1.5em;
}

.content_right h4 span
{
    color: #ff5454;
}

.content_right a
{
    position: relative;
    z-index: 1;
}

/* start footer */

.footer_bg
{
    background: #f6f6f6;
}

.footer
{
    padding: 4%;
}

.copy p
{
    color: #3b3b3b;
    font-size: 14px;
}

.copy p a
{
    color: #ff5454;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.copy p a:hover
{
    color: #3b3b3b;
    text-decoration: none;
}

/* start about */

.about
{
    padding: 4% 0;
}

.about h2
{
    margin: 0 0 20px;
    text-transform: capitalize;
    font-size: 3em;
    color: #3b3b3b;
    font-family: 'texgyreadventorregular';
}

.about a
{
    position: relative;
    z-index: 1;
}

/* start  technology */

.technology
{
    padding: 4% 0;
}

.technology h2
{
    margin: 0 0 20px;
    text-transform: capitalize;
    font-size: 3em;
    color: #3b3b3b;
    font-family: 'texgyreadventorregular';
}

.technology h4
{
    font-size: 22px;
    color: #5b5b5b;
    font-weight: 100;
    text-transform: capitalize;
    display: block;
    margin: 10px 0 8px;
}

.tech_para
{
    padding-left: 0;
    padding-right: 0;
}

.technology_list1
{
    margin-top: 20px;
}

.pagination > li > a, .pagination > li > span
{
    font-size: 16px;
    padding: 10px 16px;
    color: #BDBDBD;
    background-color: #3b3b3b;
    border: 1px solid #2C2929;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus
{
    color: #FFFFFF;
    background-color: #ff5454;
    border-color: #DA4A4A;
}

.alert
{
    font-size: 13px;
}

.alert-warning
{
    color: #3b3b3b;
    background-color: #F3F3F3;
    border-color: #E2E2E2;
}

/* start blog */

.blog_left
{
    display: block;
}

.blog_img
{
    margin: 4% 0 2%;
}

.blog_left img
{
    width: 100%;
}

.blog_left h4 a
{
    margin: 0 0 20px;
    display: block;
    text-transform: capitalize;
    font-size: 1.5em;
    color: #3b3b3b;
    font-family: 'texgyreadventorregular';
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.blog_left h4 a:hover
{
    text-decoration: none;
    color: #ff5454;
}

.blog_list
{
}

.blog_list ul li
{
    display: inline-block;
    margin-left: 10px;
}

.blog_list ul li:first-child
{
    margin-left: 0;
}

.blog_list li a
{
    display: block;
    padding: 4px 8px;
    color: #b6b6b6;
    text-transform: capitalize;
}

.blog_list ul li i
{
    font-size: 15px;
    color: #b6b6b6;
}

.blog_list li span
{
    padding-left: 10px;
    font-size: 14px;
    color: #b6b6b6;
}

.blog_list li span:hover,.blog_list li a:hover
{
    color: #ff5454;
    text-decoration: none;
}

.read_more a
{
    position: relative;
    z-index: 1;
}

.blog_right h4
{
    text-transform: capitalize;
    font-size: 2em;
    color: #3b3b3b;
    font-family: 'texgyreadventorregular';
    margin-bottom: 15px;
}

/* start Social Likes */

.social_network_likes
{
    text-align: center;
}

.social_network_likes li
{
    width: 24.33333%;
    display: inline-block;
    margin-left: -4px;
}

.social_network_likes li:first-child
{
    margin-left: 0;
}

.social_network_likes li a
{
    display: block;
    color: #FFF;
    font-size: 1.5em;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social_network_likes li a p
{
    padding: 10px 0 5px;
    font-size: 14px;
}

.social_network_likes li a span
{
    display: block;
    font-size: 24px;
}

.social_network_likes li a div.followers
{
    border-bottom: 1px solid #FFFFFF;
}

.social_network_likes li a:hover
{
    text-decoration: none;
}

.social_network_likes li:first-child a
{
    border-left: none;
}

.social_network_likes li a.tweets
{
    background: #34CCFF;
}

.social_network_likes li a.tweets:hover
{
    background: #2DC0F1;
}

.social_network_likes li a.facebook-followers
{
    background: #3B5A99;
}

.social_network_likes li a.facebook-followers:hover
{
    background: #33518D;
}

.social_network_likes li a.email
{
    background: #27c1b9;
}

.social_network_likes li a.email:hover
{
    background: #0BB1A8;
}

.social_network_likes li a.dribble
{
    background: #EB4D89;
}

.social_network_likes li a.dribble:hover
{
    background: #E04580;
}

.social_network_likes li a div.social_network
{
    padding: 15px 0 10px;
}

.social_network i
{
    width: 45px;
    height: 45px;
    display: block;
    background: url(../images/social-icons.png) no-repeat;
    margin: 0 auto;
}

.social_network i.twitter-icon
{
    background-position: 0px 0px;
}

.social_network i.facebook-icon
{
    background-position: -47px 0px;
}

.social_network i.email-icon
{
    background-position: -104px 0px;
}

.social_network i.dribble-icon
{
    background-position: -156px 0px;
}

/* start ads_nav */

.ads_nav
{
    margin-top: 30px;
}

.ads_nav li
{
    float: left;
    width: 46.333333%;
    margin: 0 0 15px 15px;
}

.ads_nav li:nth-child(2),.ads_nav li:nth-child(4)
{
    margin-left: 0;
}

.ads_nav li a
{
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.ads_nav li a img
{
    width: 100%;
}

.ads_nav li a:hover
{
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.7;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

/* start tag_nav */

.tag_nav
{
    margin: 8% 0;
}

.tag_nav li
{
    margin: 10px 5px 0 0;
    display: inline-block;
}

.tag_nav li a
{
    display: block;
    text-transform: capitalize;
    background: #3b3b3b;
    color: #ffffff;
    font-size: 13px;
    padding: 8px 14px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tag_nav li.active a,.tag_nav li a:hover
{
    background: #ff5454;
    color: #ffffff;
    text-decoration: none;
}

/* start news_letter */

.news_letter
{
    margin: 8% 0;
}

.news_letter form input[type="text"]
{
    font-family: 'open_sansregular';
    font-weight: 100;
    padding: 10px;
    display: block;
    width: 100%;
    background: #ffffff;
    outline: none;
    color: #555555;
    font-size: 13px;
    border: 1px solid #DADADA;
    -webkit-appearance: none;
}

.news_letter form span
{
    position: relative;
    z-index: 1;
}

.news_letter form input[type="submit"]
{
    -webkit-appearance: none;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

/* start contact */

.company_ad h2
{
    margin: 0 0 20px;
    text-transform: capitalize;
    font-size: 3em;
    color: #3b3b3b;
    font-family: 'texgyreadventorregular';
}

.company_ad p
{
    font-size: 14px;
    color: #3b3b3b;
}

.company_ad p a
{
    color: #ff5454;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.company_ad p a:hover
{
    text-decoration: none;
    color: #3b3b3b;
}

.contact-form h2
{
    margin: 0 0 20px;
    text-transform: capitalize;
    font-size: 3em;
    color: #3b3b3b;
    font-family: 'texgyreadventorregular';
}

.contact-form span
{
    display: block;
    text-transform: capitalize;
    font-size: 14px;
    color: #5b5b5b;
    font-weight: normal;
    margin-bottom: 10px;
}

.contact-form textarea
{
    font-family: 'Open Sans', 'sans-serif';
    padding: 10px;
    display: block;
    width: 99.3333%;
    background: #ffffff;
    outline: none;
    color: #c0c0c0;
    font-size: 0.8725em;
    border: 1px solid #ECECEC;
    -webkit-appearance: none;
    resize: none;
    height: 120px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.contact-form textarea:focus
{
    border: 1px solid #ff5454;
}

.form-control
{
    box-shadow: none;
    border: 1px solid #ECECEC;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.form-control:focus
{
    box-shadow: none;
}

.contact-form input[type="submit"]
{
    font-family: 'open_sansregular';
    -webkit-appearance: none;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
    font-weight: 100;
}

.contact-form label
{
    position: relative;
    z-index: 1;
}

.form-control:focus
{
    border-color: #ff5454;
}

/* start details */

.details img
{
    margin-bottom: 20px;
}

/***** Media Quries *****/

@media only screen and (max-width: 1440px) and (min-width: 240px)
{
    .wrap
    {
        width: 95%;
    }
}

@media only screen and (max-width: 1440px){
}

@media only screen and (max-width: 1366px){
}

@media only screen and (max-width: 1280px){
}

@media only screen and (max-width: 1024px)
{
    .images_1_of_4 h4 a
    {
        font-size: 1.2em;
    }
    .para
    {
        font-size: 13px;
    }
    .content_right h4
    {
        font-size: 2em;
    }
}

@media only screen and (max-width: 768px)
{
    .logo
    {
        text-align: center;
    }
    .h_search
    {
        width: 98%;
        padding: 20px;
    }
    .h_menu
    {
        position: relative;
    }
    .soc_icons
    {
        position: absolute;
        top: 0px;
        background: #3b3b3b;
    }
    .navbar-default .navbar-toggle
    {
        border-color: #FFF;
    }
    .navbar
    {
        min-height: 51px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form
    {
        border-color: #3b3b3b;
    }
    .navbar-default
    {
        background-color: #3b3b3b;
        border: none;
    }
    .navbar-nav
    {
        margin: 0px 0px;
    }
    .nav > li > a
    {
        padding: 20px 15px;
    }
    .soc_icons ul li a
    {
        font-size: 20px;
        line-height: 50px;
        width: 51px;
        height: 51px;
    }
    .slider_bg
    {
        background-size: 100% 100%;
    }
    .main
    {
        padding: 4% 0;
    }
    .images_1_of_4
    {
        margin-bottom: 4%;
    }
    .main
    {
        padding: 2%;
    }
    .technology
    {
        padding: 4%;
    }
    .about
    {
        padding: 4%;
    }
    .social_network_likes li
    {
        width: 24.3333%;
    }
    .tag_nav
    {
        margin: 4% 0;
    }
    .news_letter
    {
        margin: 4% 0;
    }
    .technology h4
    {
        font-size: 20px;
    }
}

@media only screen and (max-width: 640px)
{
    .company_ad
    {
        margin-left: 0;
    }
    .blog_left h4 a
    {
        font-size: 1.2em;
    }
    .technology h4
    {
        font-size: 17px;
    }
}

@media only screen and (max-width: 480px)
{
    .images_1_of_4 h4
    {
        margin: 20px 0 10px;
    }
    .technology h2
    {
        font-size: 2em;
    }
    .about h2
    {
        font-size: 2em;
    }
    .company_ad h2
    {
        font-size: 2em;
    }
    .contact-form h2
    {
        font-size: 2.5em;
    }
    .blog_left h4 a
    {
        font-size: 1em;
    }
    .blog_list ul li
    {
        margin-left: 5px;
    }
    .blog_list li a
    {
        padding: 4px 4px;
    }
    .detail h2
    {
        font-size: 2em;
    }
}

@media only screen and (max-width: 320px)
{
    .main
    {
        padding: 8% 2%;
    }
    .soc_icons ul li a
    {
        font-size: 20px;
        width: 46px;
    }
    .images_1_of_4 h4
    {
        margin: 15px 0 10px;
    }
    .social_network_likes li a p
    {
        font-size: 12px;
    }
    .images_1_of_4 span
    {
        width: 88px;
        height: 88px;
    }
    .images_1_of_4 span i
    {
        font-size: 5em;
        line-height: 1.8em;
    }
    .images_1_of_4 h4 a
    {
        font-size: 1em;
    }
    .technology h4
    {
        font-size: 14px;
        line-height: 1.5em;
    }
    .blog_list ul li:nth-child(3)
    {
        margin-left: 0;
    }
}

.logo h1 a div
{
    margin-top: -30px;
    margin-bottom: -60px;
}

.titletop
{
    font-size: 24px;
    font-family: Oswald;
    padding-left: 5px;
    color: #01A2A6;
}

.myfontawsome
{
    font-size: 10px;
}

.fa-phone
{
    font-size: 19px;
}

@media (max-width:420px)
{
    .logo p
    {
        padding-top: 0px;
        padding-bottom: 10px;
    }
}

.bigcolor
{
    background-color: rgba(0, 0, 0, 0.25);
}

#view1
{
    color: white;
}

.da-slide .da-link a
{
    color: white;
}

.a.fa-btn.btn-1.btn-le:hover
{
    background-color: black;
}

.main_bg h2
{
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-family: Oswald;
}

#mainp
{
    font-size: 28px;
    text-align: center;
    font-family: Bree Serif;
}

.underline
{
    display: block;
    width: 18%;
    height: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    background-color: #01A2A6;
}

.moto
{
    font-family: Bree Serif;
    font-size: 19px;
    display: inline-block;
    position: relative;
    left: 120px;
    bottom: 45px;
}

@media (max-width:768px)
{
    .moto
    {
        position: relative;
        left: 51px;
        font-size: 13px;
        bottom: 50px;
    }
}

@media (max-width:489px)
{
    .moto
    {
        position: relative;
    }
}

@media (max-width:370px)
{
    .moto
    {
        font-size: 12px;
    }
}

#logindiv
{
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    top: 20px;
    display: inline-block;
}

#logindiv a
{
    font-size: 15px;
    font-family: Oswald;
    color: #01A2A6;
    display: block;
    text-decoration: none;
    border: 2px solid #01A2A6;
    padding: 10px;
    border-radius: 4px;
}

#logindiv span
{
    font-size: 18px;
    color: #01A2A6;
}

@media (max-width:946px)
{
    #logindiv
    {
        left: 0px;
    }
}

@media (max-width:876px)
{
    .titletop
    {
        font-size: 20px;
    }
}

@media (max-width:767px)
{
    #logindiv
    {
        top: 0px;
        left: 53px;
        padding-top: 10px;
    }
}

@media (max-width:512px)
{
    .titletop
    {
        font-size: 16px;
    }
}

@media (max-width:489px)
{
    #logindiv
    {
        position: relative;
        display: inline-block;
        left: 45px;
    }
}

@media (max-width:441px)
{
    .titletop
    {
        display: inline-block;
    }
    #logindiv
    {
        left: 50px;
        padding-top: 0px;
    }
    .moto
    {
        bottom: 51px;
        left: 34px;
    }
}

@media (max-width:768px)
{
    .titletop
    {
        font-size: 18px;
    }
}

.classes
{
    text-align: center;
    padding: 30px 20px 40px;
    background-color: #F6F6F6;
    margin-top: 30px;
}

.class
{
    position: relative;
    box-shadow: 2px 2px 4px black;
}

.class img
{
    width: 100%;
}

.writeup
{
    background-color: #F44C1D;
    color: white;
    padding: 10px 10px 35px;
}

.writeup a
{
    color: white;
    font-family: Oswald;
    font-size: 18px;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 4px;
}

.writeup p
{
    margin-bottom: 30px;
    font-size: 15px;
}

.writeup span
{
    width: 40%;
    display: block;
    height: 3px;
    margin: -5px auto 10px;
    background: white;
    position: relative;
}

.bgcolor1
{
    background-color: #008DD4;
}

.bgcolor2
{
    background-color: #FC0017;
}

.bgcolor3
{
    background-color: #01A2A6;
}

.writeup h1
{
    font-family: oswald;
    font-size: 26px;
}

.classes h2
{
    font-weight: bold;
    font-size: 40px;
    font-family: Oswald;
}

.classesp
{
    font-family: Bree serif;
    font-size: 25px;
}

#para
{
    color: black;
}

.abtexcept
{
}

.black
{
    color: black;
}

.priorityrule
{
    display: block;
    width: 30%;
    margin-bottom: 10px;
    height: 4px;
    background-color: #01A2A6;
}

.mylist
{
    font-size: 16px;
    list-style-type: circle;
    padding-left: 8px;
    margin-bottom: 10px;
}

.fontblock
{
    background-color: #01A2A6;
    text-align: center;
    padding-top: 21px;
    height: 100px;
    width: 130px;
}

.highlitfeatures
{
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #e8e8e8;
}

.highlitfeatures h3
{
    font-family: Bree Serif;
}

.fontblock .fa
{
    font-size: 50px;
}

.environ
{
    position: relative;
    right: 46px;
    bottom: 20px;
}

.c1
{
}

.acolor
{
    background-color: #612531;
}

.bcolor
{
    background-color: #FC0017;
}

.ccolor
{
    background-color: #082243;
}

.nxtlevel
{
    text-align: center;
    background-color: #320a0a;
    padding: 30px 10px;
    background-image: url('../images/parallax-01.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
}

.nxtlevel h2
{
    font-family: Oswald;
    font-size: 35px;
    margin-bottom: 20px;
}

.nxtlevel p
{
    font-size: 22px;
    margin-bottom: 40px;
    font-style: italic;
    font-family: Bree Serif;
}

.nxtlevel a
{
    font-size: 19px;
    color: white;
    background-color: #01A2A6;
    padding: 7px 15px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 30px;
}

.firstlevel
{
    padding: 10px 3px 30px;
    border-radius: 6px;
    box-shadow: 0px 0px 2px gray;
    color: white;
}

#contactlink
{
    margin-right: 40px;
}

#contactbuttom
{
    background-color: transparent;
    border: 2px solid white;
}

.myfooter
{
    background-color: #222222;
    color: #E2E2E2;
    padding-top: 40px;
    padding-bottom: 40px;
}

.news
{
    position: relative;
}

.news h4
{
    position: absolute;
    left: 70px;
    top: 6px;
    font-size: 30px;
}

.newsa
{
    font-size: 12px;
    color: #E2E2E2;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: Bree Serif;
    padding-top: -30px;
    padding-bottom: -30px;
}

.brokenlines
{
}

.news h3
{
    font-family: Oswald;
    font-size: 15px;
}

.butttomsocial
{
    color: white;
}

.socialbutom
{
    font-size: 30px;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 10px;
}

.linkp
{
    padding-bottom: 0px;
    padding-top: 0px;
}

.myfoter
{
    background-color: #efefef;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.environ p
{
    font-size: 14px;
}

.news p
{
    font-size: 12px;
}

@media (max-width:767px)
{
    #logindiv a
    {
        display: inline-block;
        position: relative;
        padding: 8px 13px;
    }
}

@media (max-width:476px)
{
    .titletop
    {
        font-size: 15px;
    }
}

@media (max-width:432px)
{
    #logindiv a
    {
        position: relative;
        left: 20px;
    }
}

@media (max-width:422px)
{
    .moto
    {
        position: relative;
        left: -4px;
        bottom: 20px;
        margin-bottom: 40px;
    }
}

#logindiv a
{
    position: relative;
    left: -13px;
}

@media (max-width:801px)
{
    #logindiv a
    {
        font-size: 12px;
    }
}

@media (max-width:767px)
{
    .logo h1 a div
    {
        text-align: center;
    }
}

@media (max-width:422px)
{
    .titletop
    {
    }
    #logindiv a
    {
    }
    #logindiv
    {
        left: 17px;
    }
}

